@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}  

#root{
    height: 100vh;
    overflow-y: hidden
}
::-webkit-scrollbar {
    width: 10px;
    background: #D9D9D9;
    border-radius: 87px;
}

::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 87px;
}

::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 87px;
}

.root {
    scrollbar-width: 20px;
    scrollbar-color: #D9D9D9 #EEEEEE;

}