name: Check tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.17.1]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 16.17.1
      uses: actions/setup-node@v3
      with:
        node-version: 16.17.1
    - name: Install dependencies
      uses: yarn install
    - name: Run tests
      uses: yarn test
