name: Check tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.17.1]

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dependencies
      uses: yarn install

    - name: Run tests
      uses: yarn test
